@import url("https://use.typekit.net/esi2uwi.css");
@import "tailwindcss";

@theme {

    --color-red-*: initial;
    --color-orange-* : initial;
    --color-amber-* : initial;
    --color-yellow-* : initial;
    --color-lime-* : initial;
    --color-green-* : initial;
    --color-emerald-* : initial;
    --color-teal-* : initial;
    --color-cyan-* : initial;
    --color-sky-* : initial;
    --color-blue-* : initial;
    --color-indigo-* : initial;
    --color-violet-* : initial;
    --color-purple-* : initial;
    --color-fuchsia-* : initial;
    --color-pink-* : initial;
    --color-rose-* : initial;
    --color-slate-* : initial;
    --color-gray-* : initial;
    --color-zinc-* : initial;
    --color-neutral-* : initial;
    --color-stone-* : initial;

    --color-pink: #e90e8b;
    --color-blue: #29ABE2;
    --color-black: #111111;
    --color-gray: #6b7280;
    --color-faded: #e5e7eb;

    --font-display: "industry", sans-serif;
    --font-serif: "georgia", sans-serif;
    --font-roboto: "Roboto";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: flex;
  height: 11in;
  width: 8.5in;
  background: white;
}

.vertical-grid {
    @apply size-full;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "top"
        "content"
        "bottom";
}
.vg-header {
    grid-area: top;
}
.vg-content {
    grid-area: content;
}
.vg-footer {
    grid-area: bottom;
}

.frame-header, .code-bg{
    background-image: url('./assets/bg.png');
}