@import url("https://use.typekit.net/esi2uwi.css");
@import "tailwindcss";

@theme {

    --color-pink: #e90e8b;
    --color-blue: #29ABE2;
    --color-black: #111111;
    --color-gray: var(--color-gray-500);
    --color-faded: var(--color-gray-200);

    --font-display: "industry", sans-serif;
    --font-serif: "georgia", sans-serif;
    --font-roboto: "Roboto";

    --text-2xs: 0.625rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: flex;
  height: 11in;
  width: 8.5in;
  background: white;
}

.vertical-grid {
    @apply size-full;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "top"
        "content"
        "bottom";
}
.vg-header {
    grid-area: top;
}
.vg-content {
    grid-area: content;
}
.vg-footer {
    grid-area: bottom;
}